@model IEnumerable<Vidalink.Tasklist.Repository.Models.Task>

@{
    ViewBag.Title = "Listagem de tarefas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Vidalink</h1>
    <p class="lead">Planos de Medicamentos.</p>
    <p><a href="https://www.vidalink.com.br/vidalink/sobre-vidalink.html" class="btn btn-primary btn-lg">Leia mais&raquo;</a></p>
</div>

<h2>Últimas tarefas</h2>

<table class="table">
    <tr>
        <th width="40%">
            Título
        </th>
        <th  width="40%">
            Descrição
        </th>
        <th width="60%"  style="text-align: right">
            Data de execução
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="40%">
            @Html.DisplayFor(modelItem => item.Titulo )
        </td>
        <td width="40%">
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td width="60%" style="text-align: right">            
            @(item.DataExecucao == null ? "" : ((DateTime)item.DataExecucao).ToString("dd/MM/yyyy"))
        </td>        
    </tr>
}

</table>

<form class="form-horizontal" method="post" action="Index">

        <div class="col-sm-10">
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-success btn-lg">Visualizar todas ...</button>
        </div>
</form>


